h1 {
    color: white;
    font: 48px Helvetica;
    display: inline;
    padding: 5px;
}

h1.title {
    font: 82px Helvetica;
    margin: 30px;
}

h2 {
    color: white;
    font: 32px Helvetica;
}

h3 {
    color: white;
    font : 24px Helvetica;
}

p {
    color: #6B6E70;
    font: 18px Helvetica
}

a {
    color: white;
    font: 20px Helvetica;
}

html  {
    background: url("/images/triangular.png");
    background-size: cover;
    background-color: #222629;
}

.centeredDiv {
    margin: auto;
    width: 50%;
    padding: 100px;
    text-align: center;
}

.boxedDiv {
    background: rgba(128, 128, 128, 0.2);
    border: 1px ridge white;
}

.nestedDiv {
    margin: auto;
    width: 75%;
    text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid white;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  text-align: center;
}

.scrollDiv {
    max-height:300px;
    overflow-y:auto;
}

.noPointsList {
    list-style-type: none;
}

.listItem {
    color: white;
    font: 14px Helvetica;
    padding: 8px;
    border: 1px solid white;
}

.listItem:nth-child(odd){
  background: rgb(128,128,128);
}

.generalButton {
    background-color: #86C232; /* Green */
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 12px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.generalButton:hover {
    background-color: white; /* Green */
    color: black;
    border: 2px solid #61892F;
}

.smallButton {
    background-color: #86C232; /* Green */
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.smallButton:hover {
    background-color: white; /* Green */
    color: black;
    border: 2px solid #61892F;
}

.iconButton {
    border-radius: 50%;
    background-color: Transparent;
    border: 2px solid white;
    margin: 4px;
}

.iconButton:hover {
    background: rgba(211, 211, 211, 0.4);
}

.roundButtons {
    background-color: #4CAF50; /* Green */
    border: 2px solid white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.roundButtons:hover {
    background-color: white !important; /* Green */
    color: black;
    border: 2px solid #61892F;
}


.material-icons.icon {
    font-size: 32px;
    color: white;
}

.initHidden {
    display: none;
}

.logInput {
    width: 50%;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 8px;
    font-size: 18px
}

.logInput:focus {
    border: 4px solid #61892F
}

.axis {
    color: white;
}

.grid {
    color: rgba(211, 211, 211, 0.8);
}
