h1 {
    color: white;
    font: 48px Helvetica;
    display: inline;
    padding: 5px;
}

h2 {
    color: white;
    font: 32px Helvetica;
}

body {
    background: url("/images/indexBackground.png")
}

.mainDiv {
    margin: auto;
    width: 50%;
    padding: 100px;
    text-align: center;
}

.rateDiv {
    margin: auto;
    width: 75%;
    text-align: center;
    display: none;
}

#toggleButton {
  background-color: #4CAF50; /* Green */
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 12px;
  border-radius: 6px;
  transition-duration: 0.4s;
}

#toggleButton:hover {
    background-color: white; /* Green */
    color: black;
    border: 2px solid green;
}

.scaleButtons {
    background-color: #4CAF50; /* Green */
    border: 2px solid white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 12px;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.scaleButtons:hover {
    background-color: white; /* Green */
    color: black;
    border: 2px solid green;
}

#rateButton {
  background-color: #4CAF50; /* Green */
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 12px;
  border-radius: 6px;
  transition-duration: 0.4s;
}

#rateButton:hover {
    background-color: white; /* Green */
    color: black;
    border: 2px solid green;
}

.iconButton {
    border-radius: 50%;
    background-color: Transparent;
    border: 2px solid white;
}

.iconButton:hover {
    background: rgba(211, 211, 211, 0.4);
}

.material-icons.icon {
    font-size: 32px;
    color: white;
}

.scoreText {
    display: inline;
}
